/////////ICONES,MOTS

.mots-cle{
  font-family: $fontbis;
  font-size: 1.8em;
  margin-bottom: 1.8em;
}

.mots{
  display: flex;
  margin-top: $marginupanddown;
  margin-bottom: $marginupanddown;
  justify-content: space-around;
}

.mots__img{
  width: 20%;
  height: auto;
  margin-bottom: 1.8em;
}
.mots__demo,.mots__libre,.mots__loyal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.mots__text{
  font-size: 1.4em;
  line-height: $lineheight;
}

///////////ENCART_PROJET

.encartText__accueil__projet{
  font-size: 1.4em;
  line-height: $lineheight;
  width: 29%;
  background-color: $kaki;
  padding: 1.8em;
  color: white;
  position: relative;
  bottom: 100px;
  left: 600px;
  font-weight: 300;
  text-align: left;
}

.encart__accueil__projet{
  position: relative;
  margin-top: $marginupanddown;
  margin-bottom: $marginupanddown;

}

.encartImg__accueil__projet{
  //margin-left: 20em;
  display: block;
  margin: 0 auto;
}

.encartLink__accueil__projet{
  //display: inline-block;
  position: absolute;
  right: 375px;
  bottom: 10px;
}

//////TEAM ENCART ACCUEIL

.teamEncart__accueil__img{
  width: 100%;
  height: auto;
}

.teamEncart__accueil__para{
  font-size: 1.8em;
}

.teamEncart__accueil__para:first-child{
  padding-bottom: 1em;
}

.teamEncart__accueil__para:nth-child(2n){
  margin-bottom: 1.8em;
}

.teamEncart__accueil{
  text-align: center;
  margin: $marginupanddown 0em;
}

.teamEncart__accueil__text{
  margin-top: 5em;
}

//////EVENT
.event{
margin: $marginupanddown $marginside;
}
.event__title:before{
  content:"";
  display: block;
  width: 2%;
  height: 5px;
  position: relative;
  left : -20px;
  top: 10px;
  transform: rotate(90deg);
  background-color: $kaki;
}

.event__title{
  font-size: 1.8em;
  margin: $marginTitleUpDown $marginTitleSide;
  text-transform: uppercase;
}

.eventEncart__accueil{
  display: flex;
  justify-content: space-around;
  margin-bottom: 6em;
}

.eventEncart__accueil__contact{
  text-align: center;
}

.eventEncart__accueil__para{
  font-size: 1.5em;
  margin-bottom: .5em;
  margin-left: .8em;
}

.eventEncart__accueil__para--contact{
  font-size: 1.8em;
  width: 40%;
  color: black;
  display: block;
  margin: 0 auto;
}

.eventEncart__accueil__para--contact:first-child{
  padding-bottom: 1em;
}

.eventEncart__accueil__para--contact:nth-child(2n){
  margin-bottom: 1.8em;
}


.eventEncart__accueil__img{
  display: block;
}

.eventEncart__accueil__date{
  font-size: 1.8em;
  font-weight: 100;
  display: block;
  margin-bottom: .3em;
  margin-top: 1.5em;
  margin-left: .8em;
}

.eventEncart__accueil__endroit{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: $rouge;
  font-size: 1.8em;
  margin-bottom: 1.3em;
  margin-left: .8em;
}



//////Partenaires

.partner{
  margin: $marginupanddown $marginside;
  text-align: center;
}

.partner__content{
  display: flex;
  justify-content: space-between;
  margin: 0em 22em;
}

.partner__img{
  display: block;
}

.partner__info{
  //
}

.partner__name{
  font-size: 1.8em;
  margin-bottom: 1em;
}

.partner__link{
  font-size: 1.6em;
}


.partner__title{
  font-size: 1.8em;
  display: inline-block;
  border-bottom: 1px solid $pink;
  margin-bottom: 2em;
}



