
.projet__title:before{
  background-color: $rouge;
}

.projet__title{
  margin : $marginTitleUpDown 3.5em;
}

.projet__text{
  font-size:1.5em;
  line-height: $lineheight;
  margin: 3em auto;
  width: 70%;

}

.projet__img{
  display: block;
  margin: 0 auto;
  width: 93%;
  height: auto;
}

.projet__img--duo{
  text-align: center;
}

.projectDuoSingle{
  width: 46.3%;
  height: auto;
}

.encart__projet__team{
  margin-top: 15em;
}

.encartImg__projet__team{
  display: block;
  margin: 0 auto;
}


.encartText__projet__team{
  background-color: $rouge;
  font-size: 1.8em;
  line-height: $lineheight;
  width: 30%;
  color: white;
  padding: 1.5em;
  font-weight: 100;
  position: relative;
  left: 250px;
  bottom: 195px;
}

.encartLink__projet__team{
  position: relative;
  left: 250px;
  bottom: 160px;
}
