
/////VIVANT

.vivant__title:before{
  background-color: $pink;
  width: 2%;
}

.vivant__title{
 position: relative;
  top : 180px;
  left: 330px;
}

.vivant__text{
  font-size: 1.4em;
  line-height: $lineheight;
  width: 30%;
  display: inline-block;
  margin-top: 15em;
  margin-left: 23em;
}

.vivant{
  //position: relative;
  margin: 10em 0em;
}

.vivant__img{
  /*position: absolute;
  top: 5px;
  left: 780px;*/
  float: right;
  margin-right: 30em;
}

//OBJECTIFS

.objectifs{
  //background-color: $kaki;
  padding: 2em;
  color: $kaki;
  display: flex;
  margin-top: 20em;
  clear: right;

}

.objectifs__number{
  font-size: 10em;
}

.objectifs__number:before{
  content:"";
  width: 50%;
  display: block;
  height: 2px;
  position: relative;
  top: 60px;
  left: 110px;
  background-color: $kaki;
}

.objectifs__text{
 display: flex;
  flex-direction: column;
  margin: 3em;
  width: 70%;
}

.objectifs__para{
  font-size: 1.4em;
  line-height: $lineheight;
}

/////ACTION

.action{
  margin-top: 10em;
}

.imgActionEleve{
  display: inline-block;
  margin : 0 0 0 9.5em;
  width: 50%;
  height: auto;
}

.action__text{
  background-color: $pink;
  padding: 3em;
  display: inline-block;
  width: 40%;
  position: relative;
  bottom: 230px;
  left: 710px;
}

.action__para{
  color: black;
  font-size: 1.4em;
  line-height: $lineheight;
}

.action__para:nth-child(2n){
  margin-top: 2em;
}

//ENCART VIVANT

.contactEncart__vivant{
  margin-bottom: 15em;
  text-align: center;
}


.contactEncart__vivant__para{
  font-size: 1.8em;
  line-height: $lineheight;
  width: 60%;
  margin: 0 auto 2em;
  text-align: center;
}

